

.completed {
    text-decoration: line-through;
    color: rgba(0,0 ,0 , .4);
}

.todo-item {
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
}

.todo {
    margin-bottom: 20px;
}

